## Variable

In [2]:
x=3
y="python"
z=3.14

In [3]:
type(z)

float

# List
- `list_var[index]`  
- `list_var[start_index:end_index]`

In [4]:
a=b=c=100
print(a,b,c)

100 100 100

In [5]:
List_var=[0,1,2,3,4,5,"Hello","How are You"]
List_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are You']

In [7]:
List_var[3]

3

In [8]:
List_var.append(6)
List_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are You', 6]

In [9]:
List_var.remove(6)
List_var

[0, 1, 2, 3, 4, 5, 'Hello', 'How are You']

In [11]:
List_var[4]=7
print(List_var)

[0, 1, 2, 3, 7, 5, 'Hello', 'How are You']

In [14]:
del List_var[4]
print(List_var)

[0, 1, 2, 3, 'Hello', 'How are You']

# Tuple
- `order`
- `immutable`

In [15]:
tuple_var= (1,2,3,4,5)
print(tuple_var)

(1, 2, 3, 4, 5)

In [17]:
tuple_var[2]=3

TypeError: 'tuple' object does not support item assignment

In [18]:
tuple_var.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
tuple_list= list(tuple_var)
print(tuple_list)

[1, 2, 3, 4, 5]

In [22]:
tuple_list[1]=6
print(tuple_list)

[1, 6, 3, 4, 5]

In [23]:
tuple_var= tuple(tuple_list)

# Dictionary
- `key value pair`  
- `no order`

In [25]:
dict_var= { "name": "Alice","age":25}
print(dict_var)

{'name': 'Alice', 'age': 25}

In [41]:
dict_var['name']

'Alice'

In [42]:
print(f"Her name is {dict_var['name']} and she is  {dict_var['age']} year old")

Her name is Alice and she is  25 year old

In [35]:
dict_var2= { "name": "Alice","age":25,"name": "mask"}
print(dict_var2)

{'name': 'mask', 'age': 25}

# Set
- `no duplicate value`
- `no order`

In [1]:
set_var= {1,1,1,2,2,22,3,4,5,"hello"," how are you"}
print(set_var)

{1, 2, 3, 4, 5, 22, ' how are you', 'hello'}